/* HiggelyPuffCompiler.css */

body {
	background-color: #000000;
	background-image: url(http://www.wallpaper4me.com/images/wallpapers/jigglypuff-799425.jpeg);
	font-family: Candara, Verdana, Consolas;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}
